

.containerMain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	margin: 10px;

}

.containerLeft {
	margin: 10px;

}

.containerCentre{
	display: flex;
	flex-direction: column;
	margin: 10px;
	/*justify-content: center;*/
	align-items: center;
}

.containerRight {
	margin: 10px;

}

input {
	margin: 5px;
	width: 125px;
}

button {
	width: 145px;
}
.containerControlsTop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	/*padding: 10px;*/

	/*border: solid blue 5px;*/

}

.containerControlsBottom {
	/*font-size: 1.25em;*/
	/*font-weight: bold;*/
	/*display: flex;
	flex-direction: row;
	justify-content: space-around;*/
	/*margin: 10px;*/
	/*padding: 10px;*/
	/*border: solid blue 5px;*/

}

.nodeDetail {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
	/*border: solid red 5px;*/

}

.node {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	width: 375px;
	/*margin: 20px;*/
	/*border: solid gray 3px;*/
	border-radius: 10px;
	background-color: #ff730f69;
	box-shadow: 5px 6px 3px #282c34c9;

}

.nodeLeft {
	border-right: solid black 3px;
	margin: 10px;
	padding: 10px;
	width: 25%;
}

.nodeRight {
	border-left: solid black 3px;
	padding: 10px;
	width: 25%;
}


.nodeCentre {
	/*border-left: solid black 3px;*/
	margin: 10px;
	padding:10px;
	width: 50%;

}